// || General

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Red Hat Display", Arial, Helvetica, sans-serif;
  background: #fafafa;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

// - Header
header {
  padding-top: 48px;
  padding-bottom: 54px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

// - Hero

.hero {
  position: relative;

  max-width: 414px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: unset;
  }

  @media screen and (min-width: 1440px) {
    height: 358px;

    padding-top: 1px;
  }
}

.hero__image {
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }

  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 100%;

    z-index: -999;
  }
}

.hero__img-m {
  max-width: unset;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hero__img-t {
  display: none;
  max-width: 820px;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.hero__img-d {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;

    position: absolute;
    top: 0px;

    max-width: unset;
  }
}

h1 {
  font-size: 40px;
  text-align: center;
  color: #28283d;
  font-weight: 900;
  line-height: 44px;

  padding: 0px 24px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 48px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 47px;

    font-size: 64px;
    line-height: 64px;
  }
}

.hero__p {
  margin-top: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  padding: 0px 24px;

  color: #87879d;

  @media screen and (min-width: 768px) {
    max-width: 457px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1440px) {
    max-width: 540px;
    font-size: 18px;

    padding-left: 0px;
    padding-right: 0;
  }
}

.hero__btns {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__download-btn {
  background: #4d96a9;
  border-radius: 29px;
  width: 193px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  margin-bottom: 16px;

  transition: background-color 0.4s;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 16px;
  }
}

.hero__download-btn:hover {
  background: #71c0d4;
}

.hero__btn__app-version {
  margin-left: 4px;

  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  color: #8fe3f9;
}

.hero__what-is-it {
  height: 58px;
  width: 139px;

  background: #855fb1;
  border-radius: 29px;

  font-weight: 900;

  font-size: 16px;
  line-height: 26px;

  color: #ffffff;

  transition: background-color 0.4s;

  cursor: pointer;
}

.hero__what-is-it:hover {
  background: #b18bdd;
}

// First Section

.first-sec {
  margin-top: 64px;

  max-width: 414px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: unset;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 110px;
  }
}

.section-number__css-icon {
  width: 56px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-number__css-icon__line {
  display: block;
  height: 84px;
  width: 1px;

  background-color: rgba(134, 134, 156, 0.25);
}

.section-number__css-icon__circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 56px;
  height: 56px;

  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
}

.section-number__css-icon__number {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  color: #87879d;
}

.first-sec__grid {
  display: grid;

  justify-content: center;
  align-items: center;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  padding: 0 24px;

  gap: 25px;

  max-width: 327px;
  margin: 0 auto;
  margin-top: 64px;

  @media screen and (min-width: 768px) {
    max-width: 689px;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    gap: 11px;
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1110px;
    gap: 30px;
  }
}

.first-sec__grid-m {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.first-sec__grid-t {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.first-sec__grid-d {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.first-sec__h3 {
  margin-top: 64px;

  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  letter-spacing: 4px;
  text-transform: uppercase;

  color: #4d96a9;

  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 48px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 80px;
  }
}

.first-sec__h2 {
  text-align: center;

  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;

  color: #28283d;

  padding: 0 24px;
  margin-top: 24px;

  @media screen and (min-width: 768px) {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;

    font-size: 40px;
    line-height: 44px;

    margin-top: 16px;
  }

  @media screen and (min-width: 1440px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.first-sec__p {
  padding: 0 24px;

  margin-top: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: #87879d;

  @media screen and (min-width: 768px) {
    max-width: 573px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    font-size: 18px;

    max-width: 540px;

    padding: 0 14px;
  }
}

// Second Section
.second-sec {
  position: relative;
  margin-top: 176px; // cuz the css section number icon need to be position negatively and overflow the section
  background: url("./assets/images/second-sec-back.png") no-repeat top center /
    cover;
  background-color: #4d96a9;

  padding-top: 92px;
  padding-bottom: 72px;

  @media screen and (min-width: 768px) {
    margin-top: 192px;

    background: url("./assets/images/second-sec-back-tablet.png") no-repeat top
      center / cover;
    background-color: #4d96a9;

    padding-bottom: 66px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 184px;

    display: flex;
    align-items: center;

    padding-top: 116px;
    padding-bottom: 104px;
    padding-left: 165px;
    padding-right: 165px;

    background: url("./assets/images/second-sec-back-desktop.png") no-repeat top
      center / cover;
    background-color: #4d96a9;
  }
}

.second-sec .section-number__css-icon {
  position: absolute;
  top: -112px;
  left: 50%;
  transform: translateX(-50%);
}

.second-sec .section-number__css-icon__circle {
  background: #fafafa;
}

.second-sec__h2 {
  text-align: center;

  font-weight: 900;
  font-size: 32px;
  line-height: 36px;

  color: #fafafa;

  padding: 0 24px;

  max-width: 414px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 44px;
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 350px;
    text-align: left;
    margin-left: 0;

    padding-left: 0;
    padding-right: 0;

    margin-right: 125px;
  }
}

.second-sec__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  text-align: center;

  color: #fafafa;

  margin-top: 24px;

  padding: 0 24px;

  max-width: 414px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 573px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1440px) {
    flex: 0 0 350px;
    text-align: left;

    margin: 0;

    padding-left: 0;
    padding-right: 0;

    margin-right: 92px;
  }
}

.second-sec__btn {
  background: #855fb1;
  border-radius: 29px;

  width: 193px;
  height: 58px;

  margin: 0 auto;
  margin-top: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  color: #ffffff;

  cursor: pointer;

  transition: background-color 0.4s;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin: 0;

    flex: 0 0 193px;
  }
}

.second-sec__btn:hover {
  background: #b18bdd;
}

.second-sec__btn__version-number {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;

  color: #d9b8ff;

  margin-left: 4px;
}
